{{ " " }}
<div class="card" data-style="{{ include.style }}" style="display: flex; flex-direction: column; width: 100%;">
  <a
    ...
    class="card-image"
    style="width: 100%; height: 250px; overflow: hidden; display: block;"
  >
    <img
      src="{{ include.image | relative_url | uri_escape }}"
      alt="{{ include.title | default: "card image" | regex_strip }}"
      loading="lazy"
      style="width: 100%; height: 100%; object-fit: cover; object-position: center;"
      {% include fallback.html %}
    >
  </a>

  <div class="card-text" style="flex: 1;">
    {% if include.title %}
      <a
        {% if include.link %}
          href="{{ include.link | relative_url | uri_escape }}"
        {% endif %}
        {% if include.tooltip %}
          data-tooltip="{{ include.tooltip | xml_escape }}"
        {% endif %}
        class="card-title"
      >
        {{ include.title }}
    </a>
    {% endif %}

    {% if include.subtitle %}
      <span class="card-subtitle">{{ include.subtitle }}</span>
    {% endif %}

    {% if include.description %}
      <p>
        {{ include.description | markdownify | remove: "<p>" | remove: "</p>" }}
      </p>
    {% endif %}

    {% if include.tags or include.repo %}
      {% include tags.html tags=include.tags repo=include.repo %}
    {% endif %}
  </div>
</div>
