{% if include.lookup %}
  {% assign member = site.members 
    | where_exp: "member", "member.slug == include.lookup"
    | first
  %}
{% elsif include.item %}
  {% assign member = include.item %}
{% else %}
  {% assign member = include %}
{% endif %}

{% assign type = site.data.types[member.role] %}

<div class="portrait-wrapper">
  <div
    class="portrait"
    data-style="{{ include.style }}"
  >
    {% comment %}
    {% if type %}
      {% include icon.html icon=type.icon %}
    {% endif %}
    {% endcomment %}

    <img
      src="{{ member.image | relative_url | uri_escape }}"
      class="portrait-image"
      alt="member portrait"
      loading="lazy"
      {% include fallback.html %}
    >

    {% if member.name %}
      <span class="portrait-name">
        {{ member.name }}
      </span>
    {% endif %}

    {% if member.description or type %}
      <span class="portrait-description">
        {{ member.description | default: type.description }}
      </span>
    {% endif %}

    {% if member.affiliation %}
      <span class="portrait-affiliation">
        {{ member.affiliation }}
      </span>
    {% endif %}

    {% if member.cv %}
      <span class="portrait-cv" style="display: block; margin-top: 5px;">
        <a href="{{ member.cv | relative_url }}" target="_blank" rel="noopener noreferrer" style="text-decoration: underline; color: inherit; pointer-events: auto;">
          Download Current CV
        </a>
      </span>
    {% endif %}

  </div>
</div>
